/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
article p:first-child{
	background-color:black;
	color:white;
}
article p:nth-child(2){
	color:#304E5B;
}
article p:last-child{
	color:red;
}
.ul-list{
	background-color:gray;
	width:50%;
	padding:10px;
}
.ul-list li:nth-child(odd){
background-color:white;	
}
.ul-list li:nth-child(3){
	background-color:pink;
}
.ul-list li:nth-child(even){
	background-color:#708091;
}
.ul-list li:first-child{
	font-size:22px;
}
.ul-list li:last-child{
	font-size:22px;
}